@charset "utf-8";
:root {
    --primary-bg-color: rgb(254, 168, 0);
    --primary-text-color: rgb(255, 92, 29);
    --secondary-text-color: rgb(255, 254, 246);
    --secondary-bg-color: rgb(255, 237, 202);
}
body {
    background-color: var(--primary-bg-color);
}
h1 {
    color: var(--primary-text-color);
    font-size: 18px;
    text-transform: capitalize;
}
h2 {
    color: var(--secondary-text-color);
    font-size: 32px;
}
.wrapper {
    width: 55%;
    margin: 0 auto;
}
.list-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}
.list {
    background-color: var(--secondary-bg-color);
    padding: 30px 30px ;
}
.row {
    /* display: flex;
    align-items: center; */
    margin: 0 0 .5rem 0
}
.row p {
    flex: 1;
    padding: 5px 0px;
    text-indent: 20px;
}
.text-center {
    text-align: center;
    width: 15%;
    margin: 0 auto;
}
.desc-bg {
    background-color: var(--primary-bg-color);
    flex:1
}
.desc-text {
    color: var(--secondary-text-color);
    text-indent: 1rem
}
.corner-rounded {
    border-radius: 25px;
}
/* check 박스 라운드 처리 */
.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #333;
    cursor: pointer;
    position: relative;
    top: 4px;
  }
  .circle:after {
    content: "\2714"; /* 체크박스 특수문자 */
    font-size: 24px;
    color: #0f0;
    text-shadow: 0 1px #333;
    position: absolute;
    top: -14px;
    left: 0;
    opacity: 0; /* 처음엔 안보이게 처리 */
    transition: 0.2s; /* CSS변화에 시간차 처리 */
  }
  /* input이 체크되면 특수문자 보이게 처리 */
  [id^="chk"]:checked + .circle:after {
    opacity: 1;
  }
  /* ^(캐럿)은 id가 ~로 시작하는 $(달러)는 아이디가 ~로 끝나는*/
  /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
  [id^="chk"] {
        position: absolute;
        left: -999em;
  }
  [for="chk"] {
    display: flex;
    gap: .5rem
  }
.remove {
    border-radius: 50%;
    height: 2.2rem;
    width: 2.5rem
  }
.remove img {
    position : relative;
    top: 2px;
    left: 0px
}